/* Header : bar de navigation */
.navBar {
     -fx-background-radius: 15;
     -fx-border-radius: 15;
     -fx-background-color: white;
}

/* boutton de nav */
 .text-hover {

      -fx-padding: 6px;  /* Marge intérieure */
      -fx-background-color: transparent; /* Fond par défaut */
      -fx-background-radius: 10px; /* Coins arrondis */
      -fx-transition: all 2s ease-in-out;
 }

 .text-hover:hover {
        -fx-background-color: #EEF6F6;  /* Changement de couleur au survol */
        -fx-font-size: 11;
        -fx-text-fill: #006656;
 }

 /* boutton de nav  : deconnexion*/
  .deconnexion-hover {

       -fx-padding: 10px;  /* Marge intérieure */
       -fx-background-color: transparent; /* Fond par défaut */
       -fx-background-radius: 15px; /* Coins arrondis */
       -fx-transition: all 0.2s ease-in-out;
  }

  .deconnexion-hover:hover {
         -fx-background-color: #18322E;  /* Changement de couleur au survol */
         -fx-font-size: 11;
         -fx-text-fill: white;
  }


  .card-anime {
        -fx-border-radius: 20px; /* Rayon des coins */
        -fx-background-radius: 20px; /* Pour assurer l'arrondi */
        -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 30, 0, 0, 30); /* ombre */
  }

  .textfield-connexion {
        -fx-background-color : black;
        -fx-text-fill: white;
         fx-border-color: white;
        -fx-border-width: 2px;
  }

    /*conteneur sign up*/
      .conteneur-connexion{
            /*-fx-background-color: rgba(255, 255, 255, 0.1);  Transparence pour effet glassmorphism */
            -fx-border-radius: 20px; /* Rayon des coins */
            -fx-background-radius: 20px; /* Pour assurer l'arrondi */
            -fx-border-width: 0.25px;
            -fx-border-color: rgba(255, 255, 255, 0.5);
            -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.50), 10, 0.5, 0, 0); /* Ombre légère */

            -fx-padding: 2px; /* Espacement interne */
      }

       /* boutton  : inscription*/
        .button-hover {
             -fx-fill-color: white;
             -fx-background-color: transparent; /* Fond par défaut */
             -fx-background-radius: 5px; /* Coins arrondis */
             -fx-transition: all 0.2s ease-in-out;
        }

        .button-hover:hover {
               -fx-background-color: blue;  /* Changement de couleur au survol */
               -fx-text-fill: white;
        }
